.antena { &:before {content: "";
    display: block;
    height: 120px;
    background-image: url(../images/Antena.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    padding: 25px 100px 25px 100px;
    background-color: #F5F4FA;
    margin-bottom: 30px;}
   
}

.clock { &:before {content: "";
    display: block;
    height: 120px;
    background-image: url(../images/clock\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    padding: 25px 100px 25px 100px;
    background-color: #F5F4FA;
    margin-bottom: 30px;}
   
}

.diagram { &:before {content: "";
    display: block;
    height: 120px;
    background-image: url(../images/diagram\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    padding: 25px 100px 25px 100px;
    background-color: #F5F4FA;
    margin-bottom: 30px;}
}

.astronavt {&:before {content: "";
    display: block;
    height: 120px;
    background-image: url(../images/astronaut\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    padding: 25px 100px 25px 100px;
    background-color: #F5F4FA;
    margin-bottom: 30px;}

}