.antena {
  &:before {
    content: "";
    display: block;
    height: 120px;
    background-image: url(../images/Antena.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    padding: 25px 100px 25px 100px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
}

.clock {
  &:before {
    content: "";
    display: block;
    height: 120px;
    background-image: url(../images/clock\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    padding: 25px 100px 25px 100px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    margin-top: 30px;
    @media screen and (min-width: 768px) {
      margin-top: 0px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 0px;
    }
  }
}

.diagram {
  &:before {
    content: "";
    display: block;
    height: 120px;
    background-image: url(../images/diagram\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    padding: 25px 100px 25px 100px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    margin-top: 30px;
    @media screen and (min-width: 768px) {
      margin-top: 0px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 0px;
    }
  }
}

.astronavt {
  &:before {
    content: "";
    display: block;
    height: 120px;
    background-image: url(../images/astronaut\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    padding: 25px 100px 25px 100px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    margin-top: 30px;
    @media screen and (min-width: 768px) {
      margin-top: 0px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 0px;
    }
  }
}
